@model SmartCampingWeb.Models.Alojamento

@{
    ViewData["Title"] = "Detalhes do Alojamento";
}

<h1>Detalhes do Alojamento</h1>

@if(ViewBag.UserType == "1")
{
    <a asp-controller="Reservas" asp-action="Create" class="btn btn-primary">Efetuar Reserva</a>    
}

<div>
    <h4>Alojamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAlojamentoId)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Tipo
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidade)
        </dt>
        <dd class = "col-sm-10">
            @if(Model.Capacidade == 1)
            {
                <p>@Html.DisplayFor(model => model.Capacidade) Pessoa</p>
            }
            else
            {
                <p>@Html.DisplayFor(model => model.Capacidade) Pessoas</p>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoNoite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecoNoite)€ por noite.
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar atrás</a>
</div>
