@model IEnumerable<SmartCampingWeb.Models.Alojamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (ViewBag.UserType != "1")
{
    <p>
        <a asp-action="Create">Adicionar novo Alojamento</a>
    </p>  
}

<table class="table">
    <thead>
        <tr>
            @if(ViewBag.UserType != "1")
            {
                <th>
                    @Html.DisplayNameFor(model => model.AlojamentoId)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.TipoAlojamentoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoNoite)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (ViewBag.UserType != "1")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.AlojamentoId)
                </td>
            }
            <td>
                @ViewBag.TipoAlojamentos[item.TipoAlojamentoId - 1].Tipo
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
            @if (item.Capacidade == 1)
            {
                <p>@Html.DisplayFor(modelItem => item.Capacidade) Pessoa</p>
            }
            else
            {
                <p>@Html.DisplayFor(modelItem => item.Capacidade) Pessoas</p>
            }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoNoite)€ por noite
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Details", new {  id=item.AlojamentoId  })
            </td>
            @if (ViewBag.UserType != "1")
            {
                <td>
                    @Html.ActionLink("Editar", "Edit", new {  id=item.AlojamentoId  })
                </td>
            }
        </tr>
}
    </tbody>
</table>
