@model SmartCampingWeb.Models.Reserva

@{
    ViewData["Title"] = "Cancelar Reserva";
}

<h1>Cancelamento</h1>

<h3>Tem a certeza que deseja cancelar a reserva?</h3>
<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlojamentoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlojamentoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPagamentoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetodoPagamentoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pagamento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Cancelar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar atrás.</a>
    </form>
</div>
