@model SmartCampingWeb.Models.Reserva

@{
    ViewData["Title"] = "Detalhes da Reserva";
}
<h3>
    <a asp-action="Index">Voltar Atrás</a>
</h3>

<h1>Detalhes da Reserva</h1>

<div>
    <h4>Reserva</h4>
    <hr/>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservaId)
        </dd>        
        @if (ViewBag.UserType != "1")
        { 
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ClienteId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ClienteId)
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlojamentoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlojamentoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPagamentoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetodoPagamentoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoReservaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoReservaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoTotal)€
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pagamento)€
        </dd>
    </dl>
</div>
