@model IEnumerable<SmartCampingWeb.Models.Reserva>

@{
    ViewData["Title"] = "Minhas Reservas";
}

<h1>Minhas Reservas</h1>

<table class="table">
    <thead>
        <tr>
            @if (ViewBag.UserType != "1")
            {
                <th>
                    @Html.DisplayNameFor(model => model.ReservaId)
                </th>
            
                <th>
                    @Html.DisplayNameFor(model => model.ClienteId)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.AlojamentoId)
            </th>
            @if (ViewBag.UserType != "1")
            {
                <th>
                    @Html.DisplayNameFor(model => model.MetodoPagamentoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstadoReservaId)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pagamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (ViewBag.UserType != "1")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ReservaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteId)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.AlojamentoId)
            </td>
            @if (ViewBag.UserType != "1")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.MetodoPagamentoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoReservaId)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoTotal)€
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pagamento)€
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Details", new { id=item.ReservaId}) |
                @Html.ActionLink("Cancelar", "Delete", new { id=item.ReservaId  })
            </td>
        </tr>
}
    </tbody>
</table>
